/*
*
* @project		:	
*
* @description	:	
*
* @license		:	https://creativecommons.org/licenses/by-sa/4.0/
*
* @author		:	Mike P.J. van Dartel <dartello@gmail.com>
*
*
*
* @date			:	
*
* @launch		:	unknown
*
*
*
* @content		:	Main style sheet for main web environment.
*
*					Index:
*					- Charset
*					- Google Fonts
*					- Default HTML Tag styles: HTML ELEMENTS (TAGS)
*					1 ALIGNMENT STYLES
*						1.1 WIDTH
*						1.2 CENTER CONTENT
*						1.3 960 GRID SYSTEM
*						1.4 BLUR
*						1.5 BUTTONS
*					2 CONTENT
*
* @remarks		:
*
* @change log	:
*
*/
@charset "utf-8";
/* CSS Document */


/* Julius Sans One */
@import url("http://fonts.googleapis.com/css?family=Julius+Sans+One:400,300,300italic,400italic,700,800&subset=latin,cyrillic");
/* Alegreya Sans SC */
@import url("http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,300,300italic,400italic,700,800&subset=latin,cyrillic");
/* Open Sans */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,800&subset=latin,cyrillic");

/* HTML ELEMENTS (TAGS) */
body
{
	font-family: "Open Sans", serif, Georgia, sans-sarif;
	font-size: 11pt;
	margin: 0;
/*	overflow-x: hidden;
*/
}
h1
{
	font-family: "Julius Sans One", serif, Georgia, sans-sarif;
	font-weight: 900;
}
h2
{
	font-weight: 300;
}
h1, h2
{
	text-align: center;
}
img{border-width: 0}
a{text-decoration: none}
a:hover{text-decoration: underline}
input:not([type="radio"]):not([type="checkbox"]),
textarea,
select
{
	border: 0;
	display: block;
	width: 100%;
}
.input,
.textarea,
.select
{
	border: #555 thin solid;
	border-radius: 3px;
	margin: 5px 0;
	padding: 5px 3px;
}
ul, dl, dd, dt
{
/*	line-height: 0;
*/	list-style: none;
	margin: 0;
	padding: 0;
}

.block,
ul, dl, dd, dt,
.center
{
	display: block !important;
}

/* 1 ALIGNMENT STYLES */

.left{float: left}
.right{float: right}

.left:last-of-type::after,
.right:last-of-type::after,
.clear
{
	clear: both;
	line-height: 0;
	margin: 0;
	padding: 0;
}



/* 1.1 WIDTH */

.full-width{width: 100%}
.content-width{width: 85%}

.full-screen-width > div > div
{
	left: 49.4%;
	position: relative;
}


/* 1.2 CENTER */

.center-text
{
	text-align: center;
}
.center
{
	position: relative;
	left: 50%;
	width: 100%;
}
.inline-block,
.center > *,
.button
{
	display: inline-block;
}
.center > * > *
{
	display: block; /* NOT CSS-IMPORTANT!!! */
}

/* 1.3 960 GRID SYSTEM */

.center > * > *,
.gs960
{
	position: relative;
	left: -50%;
}
.gs960:not(img)
{
	max-width: 960px;
}
.gs960.fixed
{
	width: 960px;
}


/* 1.4 BLUR */

.blur
{
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-o-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}


/* 1.5 BUTTONS */

.button
{
	background-color: #333333;
	border: thin solid #999999;
	border-radius: 5px;
	box-sizing: border-box;
	color: #eeeeee;
	cursor: pointer;
	padding: 3px 22px;
	transition: all 0.4s ease-in-out;
}
.button:hover
{
/*	background-color: #f9f9f9;
*/	background-color: white;
	border-color: #555555;
/*	box-shadow: 0 0 5px 5px white inset;
*/	color: #333333;
	text-decoration: none;
}


/* 2 CONTENT */

.fixed
{
	position: fixed;
	top: 0;
	width: 100%;
}

