/*
*
* @project		:	LAVENDAR SITE MAJOR - CONTENT MANAGEMENT SYSTEM
*
* @description	:	Another CMS
*
* @license		:	https://creativecommons.org/licenses/by-sa/4.0/
*
* @author		:	Mike P.J. van Dartel <mike@vandartel-kniknie.nl>
*
*
*
* @date			:	Monday, 8 March 2021
*
* @launch		:	
*
*
*
* @content		:	Web "WATCH" styles for local testing.
*
*/

@charset "utf-8";

/* CSS Document */

@import url(./font-awesome.min.css);

/*--debug--*/

.debug
{
	background: rgba(255, 255, 255, 0.8);
	border: solid thin #333333;
	display: none;
	left: 0;
	font-family: courier;
	font-weight: 500;
	max-width: 50%;
	max-height: 100vh;
	overflow: auto;
	position: fixed;
	top: 0;
	z-index: 99;
}
.debug > div
{
	margin: 15px 30px 30px 15px;
}
.debug .indent-20
{
	float: right;
	text-indent: 20px;
}
.debug-window-button
{
	background-color: rgba(255,255,255,.5);
	cursor: pointer;
	display: block;
	font-size: 12px;
	line-height: 12px;
	left: 6px;
	position: fixed;
	text-align: center;
	top: 9px;
	z-index: 100;
}
.debug-window-button:hover
{
	background-color: rgba(68,68,68,.5);
	color: #dddddd !important;
}

.debug > div > div > h5
{
    white-space: nowrap;
}

i.fa.fa-binoculars
{
	font-size: 20px !important;
	margin: 0 10px;
}

ol#watch-list > li.watch-row > h5
{
	display: inline-block;
	margin: 0;
}

i.fa.fa-minus-square-o,
i.fa.fa-plus-square-o
{
	font-size: 14px !important;
}
ol#watch-list > li.watch-row,
ol#watch-list > li.watch-row > h5
{
	font-size: 1.8rem;
}

ol#watch-list > li.watch-row > div
{
	font-size: 12px;
	margin-bottom: 4rem;
}


@media print
{
	.debug,
	.debug-window-button
	{
		position: static;
		z-index: auto;
	}

	.debug-window-button
	{
		display: none;
	}
}
